In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# Dataframes are just frames of series with sharing common index

In [4]:
A = [1, 2, 3, 4]
B = [5, 6 ,7, 8]
C = [9, 0, 1, 2]
D = [3, 4, 5, 6]
E = [7, 8, 9, 0]

In [5]:
df = pd.DataFrame([A, B, C, D, E], ['a','b','c','d','e'], ['W', 'X', 'Y', 'Z'])   # attribute: data, index, columns, dtype

In [6]:
df

   W  X  Y  Z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6
e  7  8  9  0

In [7]:
df['P'] = df['Y'] + df['Z']

In [8]:
df

   W  X  Y  Z   P
a  1  2  3  4   7
b  5  6  7  8  15
c  9  0  1  2   3
d  3  4  5  6  11
e  7  8  9  0   9

In [10]:
df = pd.DataFrame([A, B, C, D, E], ['a','b','c','d','e'], ['W', 'X', 'Y', 'Z'])   # attribute: data, index, columns, dtype

In [11]:
df

   W  X  Y  Z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6
e  7  8  9  0

In [14]:
df['P'] = df['Y'] + df['Z']             # add column

In [15]:
df

   W  X  Y  Z   P
a  1  2  3  4   7
b  5  6  7  8  15
c  9  0  1  2   3
d  3  4  5  6  11
e  7  8  9  0   9

In [17]:
df.drop('e')                      # remove row (temperary)

   W  X  Y  Z   P
a  1  2  3  4   7
b  5  6  7  8  15
c  9  0  1  2   3
d  3  4  5  6  11

In [18]:
df

   W  X  Y  Z   P
a  1  2  3  4   7
b  5  6  7  8  15
c  9  0  1  2   3
d  3  4  5  6  11
e  7  8  9  0   9

In [19]:
df.drop('e', inplace=True)                       # delete a row (permanently)

In [20]:
df

   W  X  Y  Z   P
a  1  2  3  4   7
b  5  6  7  8  15
c  9  0  1  2   3
d  3  4  5  6  11

In [21]:
df

   W  X  Y  Z   P
a  1  2  3  4   7
b  5  6  7  8  15
c  9  0  1  2   3
d  3  4  5  6  11

In [32]:
df.drop('Z')

KeyError: "['Z'] not found in axis"

In [23]:
# error becoz the drop takes the index  and indices are only a, b, c, d; W, X, Y, Z, and P are not indexes, 
# they are the column numbers, So to delete a column we need to add another argument to drop(), i.e., 
# axis = 0   ; row (default)  - x-axis
#      = 1   ; column  - y-axis

In [30]:
df.drop('Z', axis = 1, inplace = True)

In [31]:
df

   W  X  Y
a  1  2  3
b  5  6  7
c  9  0  1
d  3  4  5

In [33]:
"""Acessing Elements in DataFrames"""

'Acessing Elements in DataFrames'

In [47]:
df['Y']            # acessing column

a    3
b    7
c    1
d    5
Name: Y, dtype: int64

In [48]:
df.loc['a']          # acessing row

W    1
X    2
Y    3
Name: a, dtype: int64

In [49]:
df.iloc[1]            # acessing rows with index --- and these are only for rows not for column

W    5
X    6
Y    7
Name: b, dtype: int64

In [50]:
df.loc['d','Y']          # acessing partcular element

5

In [51]:
"""Conditional Acessing"""

'Conditional Acessing'

In [52]:
df > 3            # True which satisfies the condition

       W      X      Y
a  False  False  False
b   True   True   True
c   True  False  False
d  False   True   True

In [53]:
df[df > 3]            # getting the particular values of the condition

     W    X    Y
a  NaN  NaN  NaN
b  5.0  6.0  7.0
c  9.0  NaN  NaN
d  NaN  4.0  5.0

In [55]:
df[df['W'] > 3]       # all the rows whose values for that particular column ('W' here), sarisfies the conition

   W  X  Y
b  5  6  7
c  9  0  1

In [57]:
df[df['W'] > 3][['W', 'X']]

   W  X
b  5  6
c  9  0

In [58]:
df[df['W'] > 3]['W']

b    5
c    9
Name: W, dtype: int64

In [60]:
df[(df['W'] > 3) and (df['Z']>2)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [61]:
# we cannot use 'and' and 'or' we use & and |

In [68]:
df[df['W'] > 3 & (df['Y']>2)]

   W  X  Y
b  5  6  7
c  9  0  1
d  3  4  5