In [2]:
import numpy as np

In [3]:
import pandas as pd

In [23]:
x = ['a', 'b', 'c', 'd', 'e']
y = [ 1, 2, 3, 4, 5]
z = {6:'a', 7:'b', 8:'c', 9:'d', 10:'e'}

In [24]:
a = pd.Series(data = x)     # we get table -> attributes : data, index, dtype, name, copy, fastpath

In [25]:
type(a)

pandas.core.series.Series

In [26]:
a

0    a
1    b
2    c
3    d
4    e
dtype: object

In [27]:
pd.Series(data = x, index = y)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [28]:
y = [1,1,1,1,1]
pd.Series(data = x, index=y)

1    a
1    b
1    c
1    d
1    e
dtype: object

In [29]:
# order of attributes is important

In [30]:
y = [1,2,3,4,5]

In [31]:
pd.Series(y, x)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [32]:
pd.Series(z)

6     a
7     b
8     c
9     d
10    e
dtype: object

In [33]:
x2 = ['a', 'b', 'c', 'd', 'e']

In [35]:
a = pd.Series(y, x)
b = pd.Series(y, x2)

In [36]:
a+b     # arithmetic in series -> values with the same index will be operated it can be +, -, *, /

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [37]:
a['c']

3

In [38]:
a['c':]

c    3
d    4
e    5
dtype: int64

In [39]:
a['c':'e']     # last value is also including

c    3
d    4
e    5
dtype: int64